.cards-skill {

    width: 80%;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, 200px) ;
 
     

}
     

     
 .divFa {
    margin: 10px;

 }


    .textocarta {
        margin-left: 10px;
        color: black;
        font-size: 100%;
        text-decoration: none;

    }

    .lacard {

        width: 100%;
        background: rgb(194, 194, 194);
        border-radius: 10px;
     

  
    }


    .infoskills {
        display:flex;
        align-items: center;

    }

    .card-skill:hover {

        background-color: blue;
         
     }



     .imgcard {
        width: 42px;
        height: 38px;
        border-radius: 10px;
        border: 5px solid rgb(122, 122, 226);
        border-top-right-radius: 1px;
        border-bottom-right-radius:1px ;
        background: rgb(122, 122, 226);
     }


   

